body {
    font-family: "Verdana", sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #485935;
    text-align: center;
    padding: 10px; /* Додаємо невеликий відступ для поліпшення вигляду */
    font-family: "Verdana", sans-serif;
    padding: 40px;
    font-size: 40px;
}

.video-container {
    width: 100%;
    overflow: hidden;
}

.video-container video {
    width: 100%;
    height: auto;
}
